<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <div class="header">
      <h1>Linear Regression</h1>
    </div>
    <!-- Graph -->
    <div class="graph">
      <img src="/static/img/linreg2.png" />
    </div>
    <!-- Input -->
    <div class="input">
      <h2>Input data</h2>
      <hr />
      <input type="number" value="1"/> <input type="number" value="1"/>
      <button class="deleteInput" type="button">-</button>      
      <br/>
      <input type="number" value="2"/> <input type="number" value="2"/>
      <button class="deleteInput" type="button">-</button>      
      <br/>
      <input type="number" value="3"/> <input type="number" value="3"/>
      <button class="deleteInput" type="button">-</button>      
      <br/>
      <input type="number" value="4"/> <input type="number" value="4"/>
      <button class="deleteInput" type="button">-</button>      
      <br/>
      <input type="number" value="5"/> <input type="number" value="5"/>
      <button class="deleteInput" type="button">-</button>      
      <br/>
      <input type="number" value=""/> <input type="number" value=""/>
      <button class="addInput" type="button">+</button>
      <hr />
      <!-- Calculate-->
      <button class="calculate" type="button">Calculate</button>
    </div>    
  </body>
</html>
