<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> ANN tutorial examples </title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <div class="header">
      <h1> ANN tutorial examples </h1>
    </div>
    
    <ul>
      <li><a href="/linreg/">Linreg</a></li>
      <li>Perceptron</li>
      <li>One layer ANN(no backprop, habr)</li>
      <li>Multilayer(with backprop)</li>
      {{ testvar }}
    </ul>
  </body>
</html>
